#login h1,
#login .message.register {
	display: none;
}

.login form,
#lostpasswordform,
#resetpassform {
	width: 100%;
	max-width: 500px;
	padding: 15px 15px 0;
}

.form-wrapper {
	max-width: 600px;
    margin: 0 auto;
}

.login form p {
	padding: 0 1.5%;
}

.login form p.field {
	width: 47%;
	float: left;
}

@media (max-width: 500px) {
	.login form p.field {
		width: 100%;
		float: none;
	}
	.login form p {
		padding: 0;
	}
}

.login #backtoblog a, 
.login #nav a {
    text-decoration: underline;
    color: #1d458d;
}

.login #backtoblog a:hover, 
.login #nav a:hover,
.login #backtoblog a:active, 
.login #nav a:active {
    text-decoration: underline;
    color: #1d458d;
}

.login .wp-social-login-provider-list,
.login .wp-social-login-widget {
	padding: 0;
	margin: 10px 0;
	height: 80px;
    text-align: center;
}

#registerform,
#loginform,
#lostpasswordform,
#resetpassform,
.login #nav {
	color: #1d458d;
	background-color: #f9ccb8;
	width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

#registerform,
#loginform {
    margin-top: 0;
}

.login #nav {
	margin: 0;
	padding: 20px;    
	text-align: center;
}

#registerform label,
#loginform label,
#lostpasswordform label,
#resetpassform label {
	color: #1d458d;
}

.login form .input, 
.login form input[type=checkbox], 
.login input[type=text] {
    background: #fff;
    border: none;
    box-shadow: none;
    color: #1d458d;
    padding: 3px 7px;
}

.wp-social-login-connect-with {
	margin-bottom: 18px;
}

#lostpasswordform,
#resetpassform {
	box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}

.login.login-action-lostpassword,
.login.login-action-rp {
	height: 100%;
    padding-bottom: 8px;
    box-sizing: border-box;
    border-top: none;
}
@media (min-width: 1024px) {
    .login.login-action-rp,
    .login.login-action-lostpassword {
	    padding-top: 8px;
	}
    .login.login-action-rp #login,
    .login.login-action-lostpassword #login {
	    padding-left: 120px;
	}
}

.login.login-action-rp #login,
.login.login-action-lostpassword #login {
	padding-top: 20px;
	height: 100%;
}

.login-action-rp #login .message,
.login-action-rp #login_error,
.login-action-lostpassword #login .message,
.login-action-lostpassword #login_error,
.login #login_error,
.login .message {
	background-color: #f9ccb8;
	box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}

.login .message {
    text-align: center;
}

#masthead {
    box-sizing: border-box;
    margin: 0 2% 0 6%;
    position: relative;
}

.login-action-login.login .message {
	text-align: center;
}


#login_error,
.login #login_error {
	color: #ff6b29;
}

.login #login_error {
	text-align: center;
}

.login-action-rp #login .message,
#resetpassform,
.login-action-rp #nav,
.login-action-rp #login_error,
.login-action-lostpassword #login .message,
#lostpasswordform,
.login-action-lostpassword #nav,
.login-action-lostpassword #login_error {
    box-sizing: border-box;
	max-width: 600px;
	margin: 0 auto;
}



/*------------------------------------------------

GENERAL

-------------------------------------------------*/

body.login {
	background-color: #1d458d;
	font-family: 'Roboto', sans-serif;
	color: #1d458d;
	font-size: 16px;
	overflow: visible;
}


/* buttons */

#wp-submit:hover,
#wp-submit:active,
.orange-btn,
.orange-btn:visited,
.wp-social-login-provider:active,
.wp-social-login-provider:hover {
	background-color: #ff6b29;
	background-image: none;
	box-shadow: none;
	color: #1d458d;
	font-family: 'Roboto', sans-serif;
	margin: 0 10px 0 0;
	padding: 10px 12px;
	border-radius: 15px;
	border: none;
	text-shadow: none;
	text-decoration: none;
	transition: all .1s ease-out;
	    font-size: 16px;
    height: auto;
    line-height: 20px;
}

#wp-submit,
#wp-submit:visited,
.orange-btn:hover,
.orange-btn:active,
.wp-social-login-provider,
.wp-social-login-provider:visited {
	background-color: #ff6b29;
	background-image: none;
	box-shadow: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 0 10px 0 0;
	padding: 10px 12px;
	border-radius: 15px;
	border: none;
	text-shadow: none;
	transition: all .1s ease-in;
	    font-size: 16px;
    height: auto;
    line-height: 20px;
}

#wp-submit,
#wp-submit:visited {
	background-color: #1d458d;
	color: #fff;
}

#wp-submit:hover,
#wp-submit:active {
	background-color: #1d458d;
	color: #ff6b29;
}

.btn-blue-flat:hover,
.btn-blue-flat:active {
	background-color: #ff6b29 !important;
	color: #1d458d !important;
	transition: all .1s ease-in;
}

.btn-pink-flat:hover,
.btn-pink-flat:active,
.btn-pink-flat:hover > i,
.btn-pink-flat:active > i {
	color: #ff6b29 !important;
	transition: all .1s ease-in;
}

.orange-btn:focus,
.btn-blue-flat:focus,
.btn-pink-flat:focus,
button,
.wp-social-login-provider:focus {
	outline:0;
}

.spacer {
	margin: 15px;
}


a,
a:visited,
a:hover,
a:active {
	color: #1d458d;
}

/* LANGUAGE STYLES */

.lang-es {
	font-style: italic;
}

/* BRANDING */

.login #login,
.login #art-viewer {
	background-color: #f8f1e9;
	width: 92%;
    position: relative;
    margin: 0 2% 0 6%;
    box-sizing: border-box;   
    padding-top: 0;
}

.login #login {
        min-height: calc(100vh - 90px);
}

.login #thankYouSlide {
	padding-top: 30px;
	display: block !important;
}

.login #masthead {
    box-sizing: border-box;
}

@media (min-width: 1024px) {
	.login #art-viewer {
		margin-top: 8px;
	    padding: 0 20px 0 240px;
	}
    .login #login {
            min-height: 100vh;
    }
}

.site-title {
	position: absolute;
    left: -56px;
    top: -2px;
    z-index: 1;
    margin: 0;
}

.site-logo {
	width: 100%;
}

.site-description p {
	width: 30%;
	font-size: 14px;
	line-height: 1.3em;
	margin: 5px 0;
}

.site-description .extra-text {
	margin: 15px 0 0 0;
	display: none;
}


@media (max-height: 590px) {	
	.site-description {
		display: none;
	}
}


@media (min-height: 700px) {	
	.site-description .extra-text {
		display: inline-block;
	}
}

@media (max-width: 1024px) {

.login #login {
	width: 100%;
    margin: 0;
    border-width: 0 8px 8px;
    padding: 0;
}

.login #masthead,
.login #art-viewer {
	width: 100%;
    margin: 0;
    border: solid;
    border-width: 0 8px;
}

.login #login {
	border: solid 8px #1d458d;
    border-width: 0 8px 0;
}
	.site-header {
		background-color: #1d458d;
		height: 89px;
		width: 100%;
	    margin: 0;
	    z-index: 1;
	}
	.site-title {
		background-color: #f9ccb8;
		height: 89px;
	    left: 8px;
	    margin-left: 20px;
	    top: 0;
	    width: 59px;
	}
	.site-description {
		display: none;
	}
	.site-logo {
		height: 89px;
		width: auto;
    	max-width: none;
	    margin-left: -14px;
	}

}

.thanks-container {
    padding: 0 40px 50px;
    max-width: 760px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
	.thanks-container {
	    padding: 20px 40px 30px;
	}
}

@media (max-width: 480px) {
	.thanks-container {
	    padding: 30px 20px 30px;
	}
}

.thanks-container .lang-es {
	font-style: normal;
	font-size: 12px;
}

.thanks-container .lang-ca {
    font-size: 26px;
    font-family: 'Roboto Light';
    line-height: 1.3;
    margin: .4em auto;
}

@media (max-width: 1024px) {
	.thanks-container .lang-ca {
	    font-size: 22px;
	}
}

@media (max-width: 480px) {
	.thanks-container .lang-ca {
	    font-size: 18px;
	}
}


#loading-screen {
    background-color: #f8f1e9;
    border: solid 8px #1d458d;
    border-top: none;
    color: #1d458d !important;
    padding: 10px 20px 15px;
}


#loading-screen table,
#loading-screen form {
    border: none;
    background: transparent;
    box-shadow: none;
}