
.icon-x:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-heart-shape-outline:before { content: '\e802'; } /* '' */
.icon-whatsapp:before { content: '\e806'; } /* '' */
.icon-plus-circled:before { content: '\e80a'; } /* '' */
.icon-minus-circled:before { content: '\e80b'; } /* '' */
.icon-arrow-right:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */