
.icon-heart-shape-outline:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-upload:before { content: '\e805'; } /* '' */